SPRING_PROFILES_ACTIVE=prod

DATABASE_URL=URL_POSTGRES
DB_USERNAME=USERNAME_POSTGRES
DB_PASSWORD=SUA_SENHA_DO_BANCO_AQUI

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
EMAIL_USERNAME=seu-email@gmail.com
EMAIL_PASSWORD=SUA_SENHA_DE_APP_AQUI

JWT_SECRET=GERE_UM_SECRET_SEGURO_DE_32_CARACTERES_AQUI

PORT=8080

